body{
    size: 100%;
    margin-left:2em;

}
header{
    size: 20%;
	display:block; 
	color: blue; 
	border-bottom:5px solid brown;
}
footer{
    size: 10%;
	border-top: 5px solid brown;
	text-align:center;
    clear: both;
}

.main{
    size: 100%;
    height: 100%;
    position: relative;

}
.tituloAbout{
    height: 10%;
    width: 100%;
    position: relative;
	text-align:center;
}
.p{
    size: 80%;
    position: relative;
    padding-bottom: 4%;
    padding-left: 10%;
    padding-right: 10%;
}
.p1{
    height: 100%;
    width: 50%;
    float: left;
}
.p2{
    height: 100%;
    width: 33%; 
    margin-left: 55%;
}
.fotoAbout{
    width: 100%;
    height: 100%;
}