

.cabecera{
    background-image: url("images/fondo.jpg");
    display: block;
    
}


header h1{ 


    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-style: oblique;
    color: white;
    text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue;
    position: absolute;
    background-image: url("images/fondo.jpg");
    margin-left:50%;    

}

header h2{
    color: rgb(17, 195, 219);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-style: oblique;
    background-image: url("images/fondo.jpg");



}