body{
    size: 100%;

}
main{
    margin-top: 15%;
    width: 100%;
    height: 68%;
    position: absolute;

}


.fondo{
    height: 100%;
    width: 100%;
}
.p{
    
    font-family: 'ABeeZee', sans-serif;
    size: 100%;
    position: relative;
    padding-bottom: 8%;
    padding-left: 3%;
    padding-right: 10%;
    padding-top: 5%;
}
.veterinaria{
    padding-left: 5%;
    height: 100%;
    width: 40%;
    float: left;

}
.peluqueria{
    
    height: 100%;
    width: 50%; 
    margin-left: 50%;
}
.logoVeterinaria{
    margin-left: 50%;
}
.logoPeluqueria{
    margin-left: 50%;
}
.circulo {
    width: 100px;
    height: 100px;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    background: rgb(46, 209, 182);

}
.movimientoNaranja{
    padding-left: 20%;
    padding-top: 20%;
}
.movimientoTexto1{
    padding-left: 8%;

}
.movimientoTexto2{
    padding-left: 5%;

}