main{
  margin-top: 16%;
  position: absolute;
  margin-left: 36%;
  font-family: 'ABeeZee', sans-serif;
}


div.botoncillo1{
 
  margin-top: 10%;
  height: 60px;
  width: 150px;

}

div.botoncillo2{
  
  margin-left: 55%;
  height: 60px;
  width: 150px;
  margin-top:-16%;

}


table.consulta {
    border: 4px solid #94FFF3;
    background-color: #8BFCE9;
    width: 350px;
    text-align: center;
    border-collapse: collapse;
  }
  table.consulta td, table.consulta th {
    border: 1px solid #FFFFFF;
    padding: 10px 10px;
  }
  table.consulta tbody td {
    font-size: 13px;
    font-weight: bold;
    color: #000000;
  }
  table.consulta tr:nth-child(even) {
    background: #8BFCE9;
  }
  table.consulta td:nth-child(even) {
    background: #8BFCE9;
  }
  table.consulta thead {
    background: #24B4AE;
    border-bottom: 4px solid #94FFF3;
  }
  table.consulta thead th {
    font-size: 19px;
    font-weight: bold;
    color: #FFFFFF;
    text-align: left;
    border-left: 2px solid #94FFF3;
  }
  table.consulta thead th:first-child {
    border-left: none;
  }
  
  table.consulta tfoot {
    font-size: 13px;
    font-weight: bold;
    color: #FFFFFF;
    background: #E7FCF1;
    background: -moz-linear-gradient(top, #edfdf4 0%, #e9fcf2 66%, #E7FCF1 100%);
    background: -webkit-linear-gradient(top, #edfdf4 0%, #e9fcf2 66%, #E7FCF1 100%);
    background: linear-gradient(to bottom, #edfdf4 0%, #e9fcf2 66%, #E7FCF1 100%);
    border-top: 5px solid #8BFCE9;
  }
  table.consulta tfoot td {
    font-size: 13px;
  }
  table.consulta tfoot .enlaces {
    text-align: right;
  }
  table.consulta tfoot .enlaces a{
    display: inline-block;
    background: #18B599;
    color: #FFFFFF;
    padding: 2px 8px;
    border-radius: 5px;
  }

  .butn {
    background: #34d9d9;
    background-image: -webkit-linear-gradient(top, #34d9d9, #23ad9b);
    background-image: -moz-linear-gradient(top, #34d9d9, #23ad9b);
    background-image: -ms-linear-gradient(top, #34d9d9, #23ad9b);
    background-image: -o-linear-gradient(top, #34d9d9, #23ad9b);
    background-image: linear-gradient(to bottom, #34d9d9, #23ad9b);
    -webkit-border-radius: 28;
    -moz-border-radius: 28;
    border-radius: 28px;
    font-family: Arial;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
  }
  
  .butn:hover {
    background: #37dae6;
    background-image: -webkit-linear-gradient(top, #37dae6, #29d9ad);
    background-image: -moz-linear-gradient(top, #37dae6, #29d9ad);
    background-image: -ms-linear-gradient(top, #37dae6, #29d9ad);
    background-image: -o-linear-gradient(top, #37dae6, #29d9ad);
    background-image: linear-gradient(to bottom, #37dae6, #29d9ad);
    text-decoration: none;
  }
