form{
    display: block;
    padding-top: 3%;
    
    margin-top: 12%;
    height: 100%;
    width: 100%;
    position: absolute;
    font-family: 'ABeeZee', sans-serif;
    padding-bottom: 50px;
}
fieldset{
    margin-left: 6%;
    width: 80%;
    margin-bottom: 10px;
    
    

}
p{
    margin-left: 6%;

}

input[type=text], input[type=date],input[type=email],input[type=password] {
	width: 200px;
	height: 25px;
	font-size: small;
	background: white ;
	padding: 6px 10px;
	color: #000000;
	margin: 8px 0;
	display: inline-block;
	border: 1px solid #00ffff;
	border-radius: 5px;
	box-sizing: border-box;
}

.butn {
    background: #34d9d9;
    background-image: -webkit-linear-gradient(top, #34d9d9, #23ad9b);
    background-image: -moz-linear-gradient(top, #34d9d9, #23ad9b);
    background-image: -ms-linear-gradient(top, #34d9d9, #23ad9b);
    background-image: -o-linear-gradient(top, #34d9d9, #23ad9b);
    background-image: linear-gradient(to bottom, #34d9d9, #23ad9b);
    -webkit-border-radius: 28;
    -moz-border-radius: 28;
    border-radius: 28px;
    font-family: Arial;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
    margin-left: 6%;

  }
  
  .butn:hover {
    background: #37dae6;
    background-image: -webkit-linear-gradient(top, #37dae6, #29d9ad);
    background-image: -moz-linear-gradient(top, #37dae6, #29d9ad);
    background-image: -ms-linear-gradient(top, #37dae6, #29d9ad);
    background-image: -o-linear-gradient(top, #37dae6, #29d9ad);
    background-image: linear-gradient(to bottom, #37dae6, #29d9ad);
    text-decoration: none;
  }

  .error{
    color:red;
  }